.flex-container{
    background-color: aqua;

}
.Vehicle-Maintence{
    padding: 7px;
    background-color: blueviolet;
}
.btn-vehicle{
    height: 84px;
    width: 216px;
    background: #08e6e6;
}
 
 h3{
    margin: auto;
 
    height: 47px;
    width: 249px;
 
    padding-top: 19px;
 }
 .Driver-Managment{
    padding: 7px;
    background-color: blueviolet;
 }
 .btn-Driver{
    height: 86px;
    width: 339px;
    background: #08e6e6;
 }
 .HSSE{
    padding: 7px;
    background-color: blueviolet;

 }
 .btn-HSSE{

    height: 88px;
    width: 226px;
    background: #08e6e6;

 }